{% extends "base.html" %}
{% load static %}
{% block content %}
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5" >
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder text-white mb-2">Order Food Everywhere,  Fast & Easy</h1>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                    {% if not user.is_authenticated %}
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'signup' %}">Sign Up</a>
                                    {% endif %}
                                    <a class="btn btn-outline-light btn-lg px-4" href="#!">About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Popular foods</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                {% for item in foods %}
                                {% if item.ratings >= 3.5 %}
                                <div class="col mb-5 h-100">
                                    <h2 class="h5"><i class="fa-solid fa-pizza-slice"></i> {{ item.name }}</h2>
                                    <p class="mb-0">{{ item.ingredients }}</p>
                                    <div class="bi-star-fill"></div>{{ item.ratings }}
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5"><i class="fa-solid fa-pizza-slice"></i> Featured title</h2>
                                    <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Featured title</h2>
                                    <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">Featured title</h2>
                                    <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}